body {
  font-family: 'Georgia', sans-serif !important;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  
}




.owl-carousel .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.owl-carousel img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.owl-carousel p {
  height: 150px;
  font-size: 16px;
  color: #333;
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  color: #555 !important;
    font-family: 'Georgia', sans-serif !important;
    text-decoration: none !important;



}



.carousel-inner {
  text-align: center;
}

.carousel-item {
  display: flex;
  justify-content: space-around;
}

.carousel-text {
  width: 30%;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);


}

#image-carousel .owl-prev,
#image-carousel .owl-next {
  position: absolute;
  top: 20%; /* Ajusta la posición vertical según sea necesario */
  font-size: 32px; /* Ajusta el tamaño de la fuente según sea necesario */
  color: #fff; /* Cambia el color de las flechas según sea necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Agrega un fondo semi-transparente para mayor visibilidad */
  padding: 15px; /* Ajusta el relleno según sea necesario */
  border: none; /* Elimina el borde para un aspecto más limpio */
  cursor: pointer;
}

#image-carousel .owl-prev {
  left: -30px;
}

#image-carousel .owl-next {
  right: -30px;
}

h5{
font-weight:500;
color: #589e68;
font-family: 'Georgia', sans-serif !important;


}

#client-logo {
  width: 800px;
  display: flex;
  flex-direction: row; /* Cambiado de columna a fila */
  justify-content: center;
  margin: 0 auto; /* Añadido para centrar el contenedor horizontalmente */
}

#client-logo .clienteimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0; /* Ajustado a cero el margen entre las imágenes */
}

#client-logo .clienteimg img {
  width: 150px; /* Ajusta el ancho deseado para todas las imágenes */
  height: 70px; /* Ajusta la altura deseada para todas las imágenes */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Puedes ajustar este valor según sea necesario */
  margin-top: 40px;
}


@media (max-width: 576px) {

  #image-carousel .owl-prev {
    left: -20px;
  }

  #image-carousel .owl-next {
    right: -20px;
  }


  #client-logo {
    max-width: 80%; /* Establece un ancho máximo para el contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    overflow: hidden; /* Evita que el carrusel se extienda más allá de los límites del contenedor */
  }
}


